/*Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
Cuerpos de texto: 12px 
Titulares (Basado en tu última visita/Ofertas): 24px 
Precios: 18px 
Descuentos: 16px 
Descripciones: 16px
Iconos tamaño: 2em & margen inferior:  10
*/
body {

    background-color: #ebebeb;
}

main {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #EAC926;
    padding: 20px;
    /*  position: fixed; */
    top: 0;
    width: 100%;

}

img {
    width: 100%;
}

h1 img {
    width: 30%
}

h2 {
    font-size: 24px;
}

h3 {
    color: #666;
}

p {
    font-size: 12px;
}

article {
    background-color: white;
    margin-bottom: 16px;
    margin-right: 8px;
    margin-left: 8px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.logo-ml {
    width: 200px;
}

/*Articulos*/
.precio-descuento {
    display: flex;
    /* border: 1px solid green; */
    padding: 0;
    margin: 0;
}

.precio-descuento .precio {


    flex-grow: 0.3;

}

.precio-descuento .descuento {


    flex-grow: 0.7;

}

.copy-header {
    font-weight: 400;
    text-align: center;
    align-items: center;
    margin: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;


}

.search-box {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;

    margin-bottom: 16px;
}

.burguer-menu {
    font-size: 25px;
    text-align: center;
    background-color: #03264C;
    color: #fff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    margin: auto;

}




.descuento {

    color: #39b54a;
}




main .fas {
    width: 30px;
    height: 30px;

    display: block;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;

    color: #39b54a;
    transition: transform 1s;

}

main form {
    font-size: 18px;
    margin: 16px 0
}


.descripcion-item {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;

}

.img-art {
    width: 100%;
}

/*Ajuster de footer*/

.descripciones {
    font-size: 16px;
    color: #ebebeb
}

footer .fas {
    color: #2A43D0;
    font-size: 2em;
    /* padding-bottom: 10px;*/
}


footer div {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.copyright {
    text-align: left;
    padding-left: 1%;
}

.desc-box {
    margin: 0;
    /* border: 1px solid red; */
}

.descripcion-item h3,
.menu {
    display: none;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* Tablet */
@media (min-width: 361px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: calc(50% - 16px);
    }

    .descripcion-item h3,
    .menu {
        display: block;

    }

    .burguer-menu {
        display: none;
    }

    .items {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-between;
        align-self: center;
    }



}

/* desktop */
@media (min-width: 769px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: calc(25% - 16px);
    }

    /*La descripcion se tiene que ver en mobile y en el resto NO,- corregir*/
    /* .descripcion-item h3, */
    .menu {
        display: flex;
        justify-content: space-between;

    }

    .menu ul {
        display: flex;
    }

    .menu li {
        margin: 0 5px;
    }

    .burguer-menu {
        display: none;
    }

    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
    }

    .descripcion-item h3 {
        display: none;
    }

    article:hover .descripcion-item h3 {
        display: block;
    }

    .descripcion-item:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

    .descripcion-item:hover .fas {
        transform: rotate(360deg);
    }

    .footer-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .footer-items div {
        padding-left: 0;
        padding-right: 0;
    }

}

/*ENORMES*/
@media (min-width: 1260px) {
    header {
        max-width: 1200px;
        margin: auto;

    }



    .menu {
        margin-top: 30px
    }

    .menu li {
        margin: 0 10px;
    }

    .copy-header {
        max-width: none;
        text-align: right;
    }
}